<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>채팅방</h1>
    <button onclick="logout()">로그아웃</button>
    <form onsubmit="createRoom(event)">
      <input id = "roomName" placeholder = "방 이름">
      <button type="submit">생성</button>
    </form>

    <table>
      <thead>
        <tr>
          <td>방 번호</td>
          <td>방 이름</td>
          <td>참가</td>
        </tr>
      </thead>
      <tbody id="tbody"></tbody>
    </table>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    const socket = io.connect("http://localhost:3001", {
      path: "/socket.io",
      transports: ["websocket"],
    });
    socket.on("init", (data)=>{
      console.log(data)
      showRooms(data)
      socket.off("init")
    })
    socket.on("newMessage", (data) => {
      console.log(data);
    });
    socket.on("connect_error", (err) => {
        console.log(JSON.parse(err.message))
      });
    socket.on("newRoom", (newRoom) => {
        const roomInfo = newRoom
        document.getElementById('tbody').innerHTML+=`
          <tr id = "${roomInfo._id}">
            <td>${roomInfo._id}</td>  
            <td>${roomInfo.name}</td>
            <td><a href = "/views/room/${roomInfo._id}">참가</a></td>
          </tr>
        `
      });
    socket.on("deletedRoom", (deletedRoom) => {
      console.log(deletedRoom)
        const trElement = document.getElementById(deletedRoom._id);
        if (trElement) {
          trElement.remove();
        }
      });
    function logout() {
      axios
        .get("/api/v1/users/logout")
        .then((response) => {
          if (response.data.code == 200) {
            location.href = "/views/login";
          }
        })
        .catch((error) => {
          alert(error.response.data.message);
        });
    }
    function createRoom(e){
      e.preventDefault()
      const roomName = document.getElementById('roomName').value
      socket.emit('createRoom', roomName)
    }
    function showRooms(rooms){
      rooms.forEach((room)=>{
        document.getElementById('tbody').innerHTML+=`
          <tr>
            <td>${room._id}</td>  
            <td>${room.name}</td>
            <td><a href = "/views/room/${room._id}">참가</a></td>
          </tr>
        `
      })
    }
  </script>
</html>